@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

ActionBar {
  background-color: #251353;
  color: white;
}

.gradient-purple {
  background: linear-gradient(to bottom, #251353, #000);
}

.gradient-light-purple {
  background: linear-gradient(to bottom, #6544b7, #251353);
}
